.app {
  height: 100vh;
  .sections {
    width: 100%;
    background-color: darkgreen;
    scrollbar-width: none; //for firefox
    &::-webkit-scrollbar {
      display: none;
    }
    //for each element inside sections div
    > * {
      width: 100vw;
      min-height: (100vh);
      // scroll-snap-align: start;
    }
  }
}
